:host {
  flex: 1;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.info_card {
  min-width: 320px;
  height: min-content;
  overflow: hidden;
  background-color: #ffffff;
  overflow-x: hidden;

  mat-card-title {
    font-size: 0.9rem;
    font-weight: 500;
    color: #404040;
  }

  mat-card-subtitle {
    font-size: 0.8rem;
    font-weight: 400;
  }

  table {
    width: 100%;
    font-size: 0.9rem;
    background-color: transparent;

    .align_end {
      text-align: end;
    }

    .mat-mdc-header-row,
    .mat-mdc-row {
      height: 40px;
    }

    .mdc-data-table__cell,
    .mdc-data-table__header-cell {
      padding: 0;
    }

    .mdc-data-table__cell {
      border-bottom: 1px solid rgba(#000000, 0.1);
    }
  }
}

.tag {
  width: min-content;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 8px;
  font-size: 0.75rem;
  border-radius: 4px;
  background-color: whitesmoke;
  color: #606060;
}

.align_end {
  margin-left: auto;
  margin-right: 0;
}

.relations_container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-height: 50dvh;
  overflow-y: auto;
  gap: 24px;

  .relation_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      font-size: 0.9rem;
      font-weight: 500;
      color: #404040;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .relation_group_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .relation_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid #d0d0d0;
    border-radius: 8px;

    .table_relations {
      width: 100%;

      mat-icon {
        color: #404040;
        font-size: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
      }

      .table_header {
        padding-left: 1rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: #404040;
      }

      td {
        padding: 8px 0;
      }
    }
  }

  .no_relations {
    padding: 1.5rem 0;
    text-align: center;
    font-weight: 500;
    color: #606060;
  }
}
