<section class="header">
  <b>DB Introspector</b>
  <span>By Harumon</span>
</section>

<ul>
  <li>
    <a routerLinkActive="active_link" routerLink="/find-value-anywhere">
      <mat-icon fontIcon="manage_search" />
      <span> Find value in DB </span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active_link" routerLink="/get-tables-relations">
      <mat-icon fontIcon="schema" />
      <span> Tables Relations </span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active_link" routerLink="/list-base-tables">
      <mat-icon fontIcon="list_alt" />
      <span> List Base Tables </span>
    </a>
  </li>
  <li>
    <a routerLinkActive="active_link" routerLink="/list-tables">
      <mat-icon fontIcon="lists" />
      <span> List all Tables </span>
    </a>
  </li>
</ul>
