:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 0;

  b {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

ul {
  width: 100%;
  flex: 1;

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.75rem 1.5rem;

    &:hover {
      background-color: whitesmoke;
    }

    &.active_link {
      background-color: whitesmoke;
    }
  }
}
