<section class="filter_section">
  <mat-form-field appearance="outline">
    <input matInput (keyup)="applyFilter($event)" placeholder="Busca una tabla" #input />
  </mat-form-field>

  @if (selectedDBEngine === 'boost') {
  <mat-form-field appearance="outline" class="field">
    <mat-label>Seleccione DB</mat-label>
    <mat-select (selectionChange)="onDBChange($event)">
      @for (item of databaseList; track $index) {
      <mat-option [value]="item.key">{{ item.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  }

  <mat-form-field appearance="outline" class="field form_selected_db">
    <mat-label>Seleccione DB</mat-label>
    <mat-select (selectionChange)="onDBEngineChange($event)" value="boost">
      <mat-option value="boost">Boost - SQL Server</mat-option>
      <mat-option value="bare">Bare - MySQL</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="showEmptyTables" (change)="handleShowEmptyTables()">
    Ver tablas vacias
  </mat-slide-toggle>
</section>

@if (loading()) {
<mat-card class="card_empty" appearance="outlined">
  <mat-card-content>
    @if (loading()) {
    <p>Buscando valor en todas las tablas...</p>

    <mat-spinner></mat-spinner>

    <span>Espere un momento porfavor</span>
    } @else {
    <p>No hay elementos para mostrar</p>
    <span>Haga una nueva busqueda</span>
    }
  </mat-card-content>
</mat-card>
} @else {
<section class="table_container">
  <table mat-table [dataSource]="source" multiTemplateDataRows>
    @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{ column }}">
      <th mat-header-cell *matHeaderCellDef>{{ getcolumnHeader(column) }}</th>
      <td mat-cell *matCellDef="let element" [class.center_align]="column === 'rows'">
        {{ element[column] }}
      </td>
    </ng-container>
    }

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="right_align">
        <button
          matIconButton
          (click)="toggle(element); $event.stopPropagation()"
          class="toggle-button"
          [class.toggle-button-expanded]="isExpanded(element)"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div
          class="element-detail-wrapper"
          [class.element-detail-wrapper-expanded]="isExpanded(element)"
        >
          <div class="element-detail"><app-table-info [data]="element" /></div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnsToDisplayWithExpand"
      class="element-row"
      [class.expanded-row]="isExpanded(row)"
      (click)="toggle(row)"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</section>
}

<mat-paginator [pageSizeOptions]="[10, 50, 100, 250, 500]" />
